bitstring==4.3.0
matplotlib==3.9.4
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
opencv-python==4.11.0.86
scipy==1.15.0
tqdm==4.67.1
asymmetric-greedy-search==0.1.0
numba==0.62.0
torch-lr-finder==0.2.2
einops==0.8.1
torchinfo==1.8.0
keras_preprocessing==1.1.2